.vista-home {
  margin: 0;
  background: linear-gradient(to right, #fe4236 40%, transparent 40%),
    url("../assets/img/Maskgroup.png");
  background-size: cover;
}

.vista-user {
  margin: 0;
  background: linear-gradient(to right, #f7f3ee 40%, transparent 40%),
    url("../assets/img/Maskgroup.png");
  background-size: cover;
}
