.bg-custom {
  background-color: rgb(243, 64, 64);
}
.nav-link {
  color: white;
}

p {
  padding-top: 8px;
}

.admin-nav-option {
  background-color: rgb(12, 12, 250);
  height: 40px;
  border-radius: 10px 2px;
}
