.bg-admin {
  background-color: blue;
}
.nav-link {
  color: white;
}

p {
  padding-top: 8px;
}

.user-nav-option {
  background-color: rgb(250, 12, 12);
  height: 40px;
  border-radius: 10px 2px;
}
