.contenedor {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 400px;
  min-height: 100px;
  border: 1px solid black;
  width: 990px;
}

.imagenPropiedad {
  width: 400px;
  height: 330px;
}

.info {
  display: flex;
  flex-direction: column;

  width: 1042px;
  height: 330px;
}

.info h6 {
  margin-bottom: 5px;
  font-size: 0.9rem; /* Ajusta el tamaño del subtítulo según tus necesidades */
}

.div-info {
  display: flex;
  justify-content: center;
  align-items: center;
  // border-right: 1px solid black;
  border: 1px solid black;
  width: 245px;
  height: 76px;
  padding: 10px;
}
.parrafo {
  font-size: 20px;
}
.titulos {
  font-weight: bold;
}

.div-uno {
  display: flex;
  width: 500px;
  height: 75px;
}

.div-dos {
  display: flex;
  justify-content: space-evenly;
  // border: 1px solid black;
  padding: 5px;
  width: 580px;
  height: 80px;
}
.div-tres {
  border: 1px solid black;
  height: 114px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.div-cuatro {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 114px;
}
.div-dos .datas {
  margin-right: 20px;
  margin-left: 10px;
}
h5 {
  margin-left: 4px;
}
p {
  padding: 10px;
}

.fa-solid {
  margin-left: 10px;
}
.datas {
  width: 100%;
}
.primerCuadrado {
  width: 203px;
  display: flex;
}

//////////////
.tituloAlquiler {
  height: 100px;
  // margin-top: 6250px;
  // background-color: red;
}
.h2 {
  margin-top: 50px;
}
